<div class="row-main">
  <div class="row-editor">
    <ngs-code-editor
      [theme]="theme"
      [codeModel]="codeModel"
      [options]="options"
      (valueChanged)="onCodeChanged($event)"
    >
    </ngs-code-editor>

    <pre>{{ parseJson(codeModel.value) | json }}</pre> -->
  </div>
  <!-- links: <pre> {{links | json}}</pre> -->
  <div class="row-diagram">
    <div class="diagram">
      <ngx-graph
        class="chart-container"
        [curve]="curve"
        [view]="[1500, 1000]"
        [autoCenter]="true"
        [links]="links"
        [nodes]="nodes"
        [clusters]="clusters"
        layout="dagreCluster"
      >
        <ng-template #defsTemplate>
          <svg:marker
            id="arrow"
            viewBox="0 -5 10 10"
            refX="8"
            refY="0"
            markerWidth="4"
            markerHeight="4"
            orient="auto"
          >
            <svg:path d="M0,-5L10,0L0,5" class="arrow-head" />
          </svg:marker>
        </ng-template>

        <ng-template #clusterTemplate let-cluster>
          <svg:text
              alignment-baseline="central"
              [attr.x]="20"
              [attr.y]="20"
            >
              {{ cluster.label }}
            </svg:text>
          <svg:g class="node cluster">
            <svg:rect
              rx="15"
              ry="15"
              [attr.width]="cluster.dimension.width"
              [attr.height]="cluster.dimension.height"
              [attr.fill]="cluster.data.color"
            />
          </svg:g>
        </ng-template>

        <ng-template #nodeTemplate let-node>
          <svg:g class="node">
            <svg:rect
              [attr.width]="node.dimension.width"
              [attr.height]="node.dimension.height"
              [attr.fill]="node.data.color"
            />
            <svg:text
              alignment-baseline="central"
              [attr.x]="10"
              [attr.y]="node.dimension.height / 2"
            >
              {{ node.label }}
            </svg:text>
          </svg:g>
        </ng-template>

        <ng-template #linkTemplate let-link>
          <svg:g class="edge">
            <svg:path
              class="line"
              stroke-width="1"
              marker-end="url(#arrow)"
            ></svg:path>
            <svg:text class="edge-label" text-anchor="middle">
              <textPath
                class="text-path"
                [attr.href]="'#' + link.id"
                [style.dominant-baseline]="link.dominantBaseline"
                startOffset="50%"
              >
                {{ link.label }}
              </textPath>
            </svg:text>
          </svg:g>
        </ng-template>
      </ngx-graph>
    </div>
  </div>
</div>
